.contain{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.simple-context{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
}
.simple-card{
    margin-left: 20px;
    margin-top: 15px;
    flex-grow: 1;
    width: 150px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.simple-card-body{
    display: flex;
    flex-direction: column;
}
.simple-card-hr{
    color: #61dafb;
    background-color: gray;
}
.simple-card-chart{
    width: 100%;
    height: 100px;
}
.echarts-style{
    max-height: 150px;
}
.simple-card-header{
    height: 50px;
    flex-shrink: 1;
}
.simple-card-nums{
    flex-shrink: 1;
    height: 50px;
}
.simple-card-footer{
    flex-shrink: 1;
    height: 40px;
}
.simple-card-chart-pie{
    width: 100%;
    height: 350px;
    margin-top: 20px;
}
.large-card{
    margin-top: 15px;
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.large-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.large-card-body{
    width: 100%;
}

